@import "~bootstrap/dist/css/bootstrap.min.css";

.primerDibujo {
  display: flex;
  align-content: flex-start;
}
.centroCarta {
  display: flex;
  justify-items: center;
  font-size: 150px;
}

.segundoDibujo {
  display: flex;
  align-self: flex-end;
}
